/*
  No license, for now ;p
*/

#menupopup {
  max-height: 300px;
}

#menupopup menuitem[value="46"],
#menupopup menuitem[value="47"] {
  display: none;
}

#shortenurl-button {
  list-style-image: url("toolbarbutton.png");
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}

toolbar[iconsize="small"] #shortenurl-button {
  -moz-image-region: rect(0px, 40px, 16px, 24px);
}

